body {
	font-family: verdana;
	background-color: #E5E5E5; 
	margin: 0;
	padding: 0;
}

#header,#footer {
	background-color: #648CBD;
}

#footer {
	height: 10px;
	text-align: -webkit-center;
	font-style: italic;
	color: #FFF;
	font-size: 0.7em;
}

#info {
	color: white;
	font-family: sans-serif;
	font-size: 19px;
	padding: 30px 100px;
	text-align: center;
}

.columnDetail {
	vertical-align: top;
}

.typeDetail {
	font-weight: bold;
}

.ui-growl-message p {
	color: #FFF;
}

/* STYLES AVENUE */
.ui-widget-content {
	border: none;
}

.ui-panel .ui-panel-content {
	padding: 10 !Important;
}

.ui-panel {
	padding: 0 !Important;
}

#header {
	border-bottom: solid 3px #66A9DF;
	width: 100%;
	height: 120px;
}

#logo {
	background: url("../resources/images/logo.png") 0 0 no-repeat;
	width: 150px;
	height: 120px;
	float: left;
	position: fixed;
}

.ui-shadow {
	-moz-box-shadow: 0px 1px 1px #999 !important;
	-webkit-box-shadow: 0px 1px 1px #999 !important;
	box-shadow: 0px 1px 1px #999 !important;
}

.ui-state-hover,.ui-widget-content .ui-state-hover {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background: #d1d1d1;
}

#divTop .ui-state-hover,.ui-widget-content .ui-state-hover {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background: none;
	color: #66A9DF;
}

#divTop  .ui-corner-all {
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}

#footer {
	width: 100%;
	height: 30px;
	position: fixed;
	bottom: 0;
}

#divContent {
	padding: 0 25px 20px 25px;
	height: 78%;
	overflow-y: scroll;
}

.ui-state-default,.ui-widget-content .ui-state-default {
	background: #dfdfdf !Important;
	border: solid 1px #ccc !important;
}

.ui-corner-all {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.ui-button {
	margin-right: 5px !Important;
	background-color: #66A9DF;
}

#divForm .ui-widget-header {
	border: 1px solid #fff;
	background: #fff;
}

#divForm .ui-state-default,.ui-widget-content .ui-state-default {
	background: #FFF !important;
	border: solid 1px #dfdfdf !important;
	font-size: 12px;
}

#divForm .ui-widget-content {
	border: 1px solid #FFF !important;
}

#divForm .ui-datatable .ui-paginator,.ui-datatable .ui-paginator {
	border: solid 1px #BFDBF5 !important;
}

#divForm .ui-datatable-odd {
	background: #F3F3F3;
}

#divForm .ui-datatable-odd td {
	border: 1px solid #fff;
}

#divForm .ui-datatable-even td {
	border: 1px solid #fff;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield{
	-moz-box-shadow: inset 0 1px 1px #8f8f8f;
	-webkit-box-shadow: inset 0 1px 1px #8f8f8f;
	box-shadow: inset 0 1px 1px #8f8f8f;
}

.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{
	border: 1px solid #cd0a0a;
	background: none;
}

.ui-datepicker-title {
	font-size: 16px;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
	color: #666;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{
	text-shadow: none;
	color: #66A9DF !important;
	border: solid 1px #66A9DF !important;
	font-size: 14px;
}

.ui-datepicker .ui-datepicker-current-day .ui-state-highlight,.ui-datepicker .ui-datepicker-current-day .ui-state-default{
	color: #333 !important;
	text-shadow: none;
	border: solid 1px #f5f5f5 !important;
	background: #cfcfcf;
}

.ui-datepicker .ui-datepicker-header {
	background: #f1f1f1 !important;
	border-bottom: 1px solid #cfcfcf;
}

.ui-selectonemenu-list .ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{
	background: #f5f5f5;
	text-shadow: NONE !importaNT;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	background: #BFDBF5 !important;
	border-bottom: solid 2px #fff;
	margin: 0 0 -2px 0;
	color: #66A9DF !important;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{
	background: #f8f8f8;
	color: #999;
}

a:link {
	text-decoration: none;
	color: #000099
}

a:active {
	text-decoration: none;
}

.config_panelgrid {
	background: #ECECEC;
	padding: 2px !important;
	margin: 2px;
}

.config_panelgrid .ui-widget-header {
	font-size: 14px;
	color: #8B8B8B;
	padding: 2px !important;
}

.config_panelgrid .ui-panel-content {
	background: #ff0000;
	padding: 6px !important;
}

#divTop #panelTop .ui-panel .ui-panel-content {
	padding: 0 !Important;
}

#panelFooter .ui-panel .ui-panel-content {
	padding: 0 !Important;
}

.ui-panel-titlebar,.ui-fieldset-legend {
	background-color: #BFDBF5 !important;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 11px !important;
}

div .ui-tabs-panel {
	background-color: #F5F5F7 !important;
}

.ui-datatable-header,.ui-paginator {
	background-color: #BFDBF5 !important;
}

.ui-datatable {
	padding: 10px;
}

div table tr th {
	background-color: green !important;
}

.panel-grid-width{
	width: 70%!important;
}
.align-center{
	text-align: center;
}

.main-panel{
	min-height: 94%; text-align: -webkit-center;
	margin-top: 18px;
}
.font-25{
	font-size: 25px;
}
.width-100p{
	width: 100%;
}
.width-70p{
	width: 70%;
}