<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/templates/template.xhtml">

	<ui:define name="contentForm">
		
		<p:panel header="Welcome" toggleable="false" styleClass="main-panel" id="pnlIndex">
			
			<p:panelGrid columns="1" layout="grid" >
				<h:outputText value="Load the directed graph below" id="outWelcome" styleClass="font-25"/>
				<p:spacer height="20" id="spacer2"  /> 
				<p:inputText value="#{dataEntryMB.directedGraph}" styleClass="width-100p align-center" onkeyup="toUpper(this)" onblur="toUpper(this)"/>
				<p:commandButton value="Load Graph" action="#{dataEntryMB.load}" update="datatable panelButtons"/>
			</p:panelGrid>
			
			<p:panelGrid columns="2" layout="grid" styleClass="width-70p" id="mainPanel">
				
				<p:dataTable var="node" value="#{dataEntryMB.nodeList}" id="datatable" 
	 				 emptyMessage="Directed graph not loaded" style="width: 300px;">
					<p:column headerText="Start City" styleClass="align-center">
						<h:outputText value="#{node.start}" />
					</p:column>
			
					<p:column headerText="End City" styleClass="align-center">
						<h:outputText value="#{node.end}" />
					</p:column>
		
					<p:column headerText="Distance" styleClass="align-center">
						<h:outputText value="#{node.distance}" />
					</p:column>
			
				</p:dataTable>
					
				<p:panel header="Calculate"
					visible="#{not empty dataEntryMB.nodeList}" id="panelButtons">
					<p:commandButton value="Distance of route" onclick="PF('distanceRoute').show();"/>
					<p:commandButton value="Routes" onclick="PF('routeWithStops').show();"/>
					<p:commandButton value="Shortest route" onclick="PF('shortestRoute').show();"/>
				</p:panel>
				
			</p:panelGrid>
				
		</p:panel>

		<p:dialog header="Distance of route" widgetVar="distanceRoute" modal="true" height="100" width="300">
			
			<p:messages for="distance" showDetail="true" autoUpdate="true" closable="true" />
			    		
    		<p:outputLabel value="Route: " for="inputRoute"/>
    		<p:inputText value="#{dataEntryMB.route}" id="inputRoute" 
    			onkeyup="toUpper(this)" />
    		
    		<p:commandButton value="Calculate" action="#{dataEntryMB.calculateDistance}" />
    		
		</p:dialog> 
		
		<p:dialog header="Routes with stops" widgetVar="routeWithStops" modal="true" height="220" width="310">
    		
    		<p:messages for="routes" showDetail="true" autoUpdate="true" closable="true" />
    		
    		<p:panelGrid columns="2">
	    		<p:outputLabel value="Start Route: " for="inputRouteStart"/>
	    		<p:inputText value="#{dataEntryMB.routesEntryRange.startPoint}" size="1"
	    			id="inputRouteStart" maxlength="1" onkeyup="toUpper(this)" />
	    		<p:outputLabel value="End Route: " for="inputRouteEnd"/>
	    		<p:inputText value="#{dataEntryMB.routesEntryRange.endPoint}"  size="1"
	    			id="inputRouteEnd" maxlength="1" onkeyup="toUpper(this)" />
	    		<p:outputLabel value="Max Stops: " for="inputMaxStops"/>
	    		<p:selectOneRadio value="#{dataEntryMB.routesEntryRange.maxStops}" id="inputMaxStops"  >
		            <f:selectItem itemLabel="2 stops" itemValue="2" />
		            <f:selectItem itemLabel="3 stops" itemValue="3" />
		        </p:selectOneRadio>	
    		</p:panelGrid>
    		
    		<p:commandButton value="Calculate" action="#{dataEntryMB.calculateRoutesBetweenPoints}" />
    		
		</p:dialog> 
		
		<p:dialog header="Shortest route " widgetVar="shortestRoute" modal="true" height="200" width="500">
    		
    		<p:messages for="shortestRouteMsg" showDetail="true" autoUpdate="true" closable="true" />
    		
    		<p:panelGrid columns="2">
	    		<p:outputLabel value="Start Route: " for="inputRouteStartA"/>
	    		<p:inputText value="#{dataEntryMB.routesEntryShort.startPoint}" size="1"
	    			id="inputRouteStartA" maxlength="1" onkeyup="toUpper(this)" />
	    		<p:outputLabel value="End Route: " for="inputRouteEndA"/>
	    		<p:inputText value="#{dataEntryMB.routesEntryShort.endPoint}"  size="1"
	    			id="inputRouteEndA" maxlength="1" onkeyup="toUpper(this)" />
    		</p:panelGrid>
    		
    		<p:commandButton value="Calculate" action="#{dataEntryMB.calculateShortestRoute}" />
    		
		</p:dialog> 

	</ui:define>

</ui:composition>
